* {
    color: #000055;
}

body{
    background: url("../images/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding:0;
    margin:0;
    overflow:auto;
}

#header {
    border-radius: 0 0 10px 10px;
    padding: 0.5em 1em;
    width:860px;
    margin-left:-430px;
    position:fixed;
    top:0;
    left:48%;
    background-color:white;
    box-shadow: 8px 8px 14px 0px rgba(50, 50, 50, 0.73);
    z-index:100;
}

#header *{
    display:inline-block;
}

#logo{
    background-color:white;
    height: 135px;
}

#header-slideshow{
    height: 135px;
    margin:0;
    margin-left:40px;
    overflow:hidden;
}

#content{
    width: 830px;
    margin: 0 0 2em 48%;
    left: -410px;
    position: relative;
    background-color: white;
    padding: 185px 10px 0 10px;
}

.left-column {
    background-color: white;
    float:left;
    border:1px solid #6B95E0;
    border-radius: 5px;
    width:200px;
    display:inline-block;
    margin: 0 10px 10px 0;
}

#menu ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

#menu ul li {
    background-color: white;
    padding:2px;
    margin:2px;
    display:block;
    border:1px solid #6B95E0;
    border-radius: 3px;
}

#menu a {
    text-decoration:none;
    color: #00469E;
}

#content p{
    text-align:justify;
}

#content figure{
    width: 140px;
    text-align: center;
    margin: 10px 20px;
}

#content figure img{
    width:100%;
    margin-bottom:2px;
}

#content figure figcaption{
    font-style: italic;
    font-weight: bold;
    font-size: 10pt;
    font-family: serif;
}

#content .content-footer {
    padding-bottom:50px;
}

#content .content-footer *{
    display:inline-block;
    margin:0;
}

#content .content-footer p{
    font-size:10pt;
}

#content .content-footer img{
    margin-right:10px;
    float:left;
}

.footer{
    position:fixed;
    bottom:0px;
    text-align:center;
    padding:0.2em;
    width:100%;
    background-color:#1c4b79;
    font-size:8pt;
    height:2.5em;
}

.footer , .footer *{
    color:white;
    font-family:Verdana;
}

h1,h2,h3,h4 {
    color: #6B95E0;
    text-align: center;
}

.logo-group img{
    margin:5px;
    border:none;
    width:10%;
}

.staff-foto {
    float:right;
    text-align:center;
    margin:2px;
    border:1px solid #77a;
    border-radius: 3px;
}

.suggerimenti{
    padding-left:1%;
    float:left;
	text-align:center;
}

.suggerimenti div.slot{
    margin: 1%;
    width: 187px;
    height: 187px;
    display:inline-block;
    position:relative;
}

.suggerimenti div.slot img{
    max-width: 187px;
    max-height: 187px;
}

.suggerimenti div.slot a.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    text-align:center;
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255,255,255,0.75);
	padding:0;
}

.suggerimenti div.slot a.overlay span{
    font-variant: small-caps;
	margin-top:80px;
    font-size: 15pt;
    color: rgb(30, 37, 93);
	display:block;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.suggerimenti div.slot:hover a.overlay{
    display:block;
}


.suggestion_dialog{
	display:none;
	width: 80%;
	height: 85%;
	z-index: 110;
	position: fixed;
	top: 10px;
	left: 10%;
	border: 2px solid #6B95E0;
	border-radius: 5px;
	background-color: white;
}

.suggestion_dialog .suggestion_content{
	overflow: auto;
	padding: 10px;
	height: 90%;
}

.suggestion_dialog .suggestion_content h3 + div{
	display:none;
}

.suggestion_dialog .suggestion_title{
	padding:5px;
	height:1em;
	border-bottom:1px solid #777;
}

.button-gradient {
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 12%, #b8bac6 49%, #dddfe3 89%, #8e8e8e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(12%,#dbdce2), color-stop(49%,#b8bac6), color-stop(89%,#dddfe3), color-stop(100%,#8e8e8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 12%,#b8bac6 49%,#dddfe3 89%,#8e8e8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 12%,#b8bac6 49%,#dddfe3 89%,#8e8e8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 12%,#b8bac6 49%,#dddfe3 89%,#8e8e8e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 12%,#b8bac6 49%,#dddfe3 89%,#8e8e8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
}

#modal{
	z-index:105;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	background-color:rgba(127,127,127,0.5);
}

div.menu .vocimenu .ultimo_li{
  border-bottom: none;
}
